-
    img_path = 'assets/images/'

-
     cards = [
        {
            id:"#panificadora-pasteleria",
            image:"panificacion-pasteleria",
            title: "Panificación y pastelería"
        },
        {
            id:"#quesos-lacteos",
            image:"productos-lacteos",
            title: "Quesos & productos lácteos"
        },
        {
            id:"#conservas",
            image:"conservas_1",
            title: "Conservas"
        },
        {
            id:"#pasteleria",
            image:"chocolateria",
            title: "Chocolateria & pastelería"
        },
        {
            id:"#salazon",
            image:"salazones",
            title: "Salazon y anchoas"
        },
                {
            id:"#snack",
            image:"snacks",
            title: "Snacks"
        },
        {
            id:"#carnicos",
            image:"carnicos",
            title: "Embutidos y prod. cárnicos"
        },
         {
            id:"#pastas",
            image:"pastas-congeladas",
            title: "Pastas y masas congeladas"
        },
        {
            id:"#nuggets",
            image:"nuggets",
            title: "Nuggets y precocidos"
        },
                {
            id:"#salsas",
            image:"salsas",
            title: "Salsas"
        }, 
    ]

-
    modals = [
        {
            id:"panificadora-pasteleria",
            title: "Panificación y pastelería",
            icon: "panificacion",
            subtitle: "Refinada Gruesa / Refinada Fina",
            descripcion: "Ingrediente esencial para realzar el sabor y la calidad de tus preparaciones.",
            list1: "• Regulador de la actividad microbiológica y enzimática",
            list2: "• Regulador de fermentación",
            list3: "• Conservante",
            list4: "• Potenciador de sabor y color.",
            image:"panificacion-pasteleria",
            imgTxt: "Corteza fina y crujiente Masa firme y manejable",
        },
        {
            id:"quesos-lacteos",
            title: "Quesos & productos lácteos",
            icon: "lacteosblue",
            subtitle: "Refinada Gruesa / Refinada Fina",
            descripcion: "Ingrediente esencial para lograr una buena textura, mayor vida útil y un mejor sabor.",
            list1: "• Libre de insolubles",
            list2: "• Regulador de la actividad microbiológica y enzimática",
            list3: "• Regulador de fermentación",
            list4: "• Potenciador de sabor, color y mejorador de textura.",
            image:"quesos-lacteos",
            imgTxt: "Mejor textura | Mayor tiempo de vida"
        },
        {
            id:"conservas",
            title: "Conservas",
            icon: "conservasblue",
            subtitle: "Refinada Gruesa / Refinada Fina",
            descripcion: "Ingrediente esencial para realzar el sabor de tus conservas.",
            list1: "• Fácil dosificación",
            list2: "• Libre de insolubles",
            list3: "• Conservante, corrector y potenciador de sabor.",
            image:"conservas",
            imgTxt: "Conservante natural"
        },
                {
            id:"pasteleria",
            title: "Chocolatería & pastelería",
            icon: "pasteleria",
            subtitle: "Refinada Gruesa /Refinada Fina / 30/80 / Impalpable",
            descripcion: "Agrégale un toque de distinción a tus recetas.",
            list1: "• Potencia el sabor",
            list2: "• Regulador de la actividad microbiológica y enzimática",
            list3: "• Regulador de fermentación",
            list4: "• Potenciador de sabor, color y mejorador de textura.",
            image:"pasteleria",
            imgTxt: "Mayor eslasticidad y plasticidad de la masa"
        },
                        {
            id:"salazon",
            title: "Salazon & anchoas",
            icon: "salazonblue",
            subtitle: "KD/ 10/30 / Gruesa",
            descripcion: "Su origen marino mantiene la tradición artesanal europea en tus productos.",
            list1: "• Conservante",
            list2: "• Insumo de calidad alimentaria",
            list3: "• Regulador de la actividad microbiológica y actividad del agua",
            list4: "• Corrector de sabor.",
            image:"salazones-2",
            imgTxt: "Tradición europea"
        },
         {
            id:"snack",
            title: "Snacks",
            icon: "snacks",
            subtitle: "Gruesa / Fina /Impalpable",
            descripcion: "El sabor salado original en todos los momentos.",
            list1: "• Conservante",
            list2: "• Fácil dosificación",
            image:"snacks",
            imgTxt: "Menos sodio | Mejor sabor"
        },
        {
            id:"carnicos",
            title: "Embutidos & productos cárnicos",
            icon: "carnicos",
            subtitle: "Refinada Fina / 30/80",
            descripcion: "Conserva la tradición artesanal europea en tus productos gourmet. ",
            list1: "• Potenciador de sabor",
            list2: "• Conservante natural",
            list3: "• Conservante, aglutinante, corrector y potenciador de sabor.",
            image:"carnicos-2",
            imgTxt: "Mejor compactación"
        },
        {
            id:"pastas",
            title: "Pastas & masas congeladas",
            icon: "pastas",
            subtitle: "Refinada Fina / 30/80",
            descripcion: "El sabor salado de toda la vida, para ese sabor casero con tradición italiana.",
            list1: "• Mejor Textura",
            list2: "• Mejor sabor",
            list3: "• Conservante, corrector y potenciador de sabor.",
            image:"pastas-1",
            imgTxt: "Masa firme y manejable "
        },
         {
            id:"nuggets",
            title: "Nuggets & precocidos",
            icon: "nuggets",
            subtitle: "Refinada Fina / 30/80",
            descripcion: "El sabor salado que conoces, para ese sabor casero como hecho en casa.",
            list1: "• Potenciador de sabor",
            list2: "• Conservante natural",
            list3: "• Conservante, aglutinante, corrector y potenciador de sabor.",
            image:"nuggets-2-min",
            imgTxt: "Mejor compactación "
        },
                 {
            id:"salsas",
            title: "Salsas",
            icon: "salsas",
            subtitle: "Refinada Fina / 30/80",
            descripcion: "Ingrediente esencial para realzar el sabor de tus preparaciones.",
            list1: "• Alta solubilidad",
            list2: "• Fácil dosificación",
            list3: "• Conservante, corrector y potenciador de sabor.",
            image:"salsas-2",
            imgTxt: "Mejor sabor "
        },



    ]

.industrias-section 
    .container
        .industrias-section__content
            .row 
                    .col-sm-12.text-center.mb-4
                        h3 Industrias
            .row 
                each card in cards
                    .col-2-5 
                        a.card-content( data-toggle="modal" data-target=`${card.id}`)
                            .card.card-insdustria
                                img.card-img-top(src=img_path+`${card.image}.jpg`)
                                .card-title.text-center  #{card.title}


each modal in modals
    .modal.fade(id=`${modal.id}` tabindex='-1' role='dialog' aria-hidden="true")
        .modal-dialog.modal-lg(role='document')
            .modal-close-button
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times; 
            .modal-content.modal-industrias
                .modal-body
                    .title 
                        img(src=img_path+`${modal.icon}.svg`, alt="")
                        h5 #{modal.title}
                        
                    .line
                    .descripcion-title 
                        h6 Sal de Mar
                        h6 #{modal.subtitle}
                        p  #{modal.descripcion}
                    .items 
                        ul 
                            li #{modal.list1}
                            li #{modal.list2}
                            li #{modal.list3}
                            li #{modal.list4}
                .modal-image 
                    img(src=img_path+`${modal.image}.jpg`)
                    p #{modal.imgTxt}
